body {
  direction: rtl;
}

header .previ,
header .next {
  border: 3px solid #f8aa1b;
  padding: 15px;
  border-radius: 50%;
  position: relative;
}

header .previ i {
  position: absolute;
  right: 27px;
  top: 8px;
  cursor: pointer;
  color: #fff;
}

header .next i {
  position: absolute;
  left: 27px;
  top: 8px;
  cursor: pointer;
  color: #fff;
}
.carousel-item .carousel-caption {
  position: absolute;
  top: 400px !important;
  right: 12% !important;
  bottom: 0px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: start;
}
header .btn {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-right: 10px;
  margin-top: 70px;
  display: flex;
  color: #fff;
  position: relative;
  margin: auto;
}
header .ic1 {
  position: relative;
  right: 10px;
  bottom: 21px;
  cursor: pointer;
  color: #fff;
}

header ol {
  padding-bottom: 150px;
}

.services img {
  width: 210px;
  height: 295px;
  position: relative;
}
.services .container {
  position: relative;
  bottom: 140px;
  background-color: #fff;
}
.services .serv {
  color: #fff;
  position: absolute;
  bottom: 168px;
  left: 70px;
}
.services .dashed{
  border-right: 2px dashed lightgrey;
  width: 2px;
  height: 100px;
}
.services .positionImg {
  position: relative;
  right: 50px;
  text-align: center;
}
.services .green {
  color: green;
}
.services .green span {
  font-weight: 300;
}

.services .but {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-right: -7px;
  margin-top: 6px;
  display: flex;
  color: #000;
  position: relative;
  font-weight: 500;
}
.services .ic1 {
  position: relative;
  left: 115px;
  bottom: 23px;
  cursor: pointer;
  color: green;
}

/**/

Edit in JSFiddle Result HTML CSS JavaScript Resources header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
      background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll;
  }
  header video {
      display: none;
  }
}

/**/

.econmic {
  background-image: url(../images/pp1.jpg);
  background-size: cover;
}
.econmic .bgdata {
  background-color: #ffe424;
  padding: 50px 30px;
  margin: 50px 0px 10px;
}
.econmic .dashed{
  border-right: 2px dashed lightgrey;
  width: 2px;
  height: 100px;
}

.econmic .icon {
  color: green;
  font-size: 1.5rem;
}
.econmic .but {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-top: 10px;
  display: flex;
  color: #fff;
  position: relative;
}
.econmic .ic1 {
  position: absolute;
  right: 120px;
  bottom: 150px;
  cursor: pointer;
  color: #fff;
}

.econmic .previ,
.econmic .next {
  border: 3px solid #fff;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  width:10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.econmic .next {
  display: inline-block;

}

.econmic .previ i {
  position: absolute;
  right: 27px;
  top: 8px;
  cursor: pointer;
  color: #fff;
}

.econmic .next i {
  position: absolute;
  left: 27px;
  top: 8px;
  cursor: pointer;
  color: #fff;
}
.videoo .head {
  font-size: 4rem;
    border-bottom: 13px solid orange;
    font-weight: 500;
    width: 60%;
    border-radius: 4px;
}
.videoo .para span {
  font-weight: 300;

}
/*.videoo .colVIDEO {
  z-index: -6;
}*/
.videoo .para {
  width: 100%;
}
.videoo .para p{
  font-size: 1.5rem;
    padding: 10px;
    background-color: #fff;
}
.videoo video{
  position: relative;
  z-index: -8888;
}
.videoo .overlay{
  transform: translate(-68px, 445px);
/*
  position: absolute;
  top: 300px;
  left: -60px;*/
}
.videoo .overlay p{
  font-size: 5rem;
    font-weight: 600;
}

.videoo .btn {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-right: 10px;
  margin-top: 70px;
  display: flex;
  color: #000;
  margin: auto;
  font-weight: 500;
}
.videoo .ic1 {
  transform: translate(475px, -26px);
  font-size: 1.4rem;
  /*position: absolute;
  left: 495px;
  bottom: 6px;
  transform: translate(-50px ,50px);*/
  cursor: pointer;
  color: #000;
}



.details {
  position: relative;
  top: 150px;
  z-index: 9999999;
}
.details .container {
  box-shadow: 10px 10px 6px 6px lightgray;
}
.details .dashed {
  border-right: 2px dashed lightgrey;
  width: 2px;
  height: 100px;
}

.details .decoration {
  background-color: #f8aa1b;
  border-radius: 50%;
  padding: 40px 0px;
  width: 92%;
  margin: auto;
}
.details .outBrdr {
  border: 2px solid lightgrey;
  padding: 6px 0px;
  margin: auto;
  border-radius: 50%;
  width: 95%;
}
.details .out2::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #000;
  border-radius: 50%;
}

.details .out2 {
  border: 1px dashed grey;
  border-left: 1px solid transparent;
  padding: 6px 0px;
  margin: auto;
  border-radius: 50%;
  width: 60%;
  position: relative;
}
.details .btn {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  /*margin-right: 10px;
  margin-top: 70px;*/
  display: flex;
  color: #000;
  margin: auto;
  font-weight: 500;
}
.details .ic1 {
  transform: translate(-71px, -25px);
  font-size: 1.4rem;
  /*right: 70px;
  position: relative;
  bottom: 21px;*/
  cursor: pointer;
  color: #000;
}

.info {
  background-color: #3026260a;
  padding: 200px 0px 50px 0px;
}

.info .circle {
  width: 20px;
  height: 20px;
  background-color: #f8aa1b;
  border-radius: 50%;
  border: 1px dashed lightgray;
  margin: 10px 0px;
}
.info button {
  background: none;
  border: 1px dashed;
  border-radius: 50%;
  position: relative;
}
.info .brdr {
  margin: auto;
  position: relative;
  top: 24px;
  border: 1px dashed lightgray;
  z-index: -999;
}

.info .infoYear {
  bottom: 35px;
  position: absolute;
  font-size: 1.1rem;
}

.about .head {
  color: limegreen;
}
.about .btn {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-right: 10px;
  margin-bottom: 10px;

  color: #000;
  position: relative;
}
.about img {
  height: 210px;
}
.about p {
  font-weight: 500;
}
.about h2 {
  margin-top: 10px;
}
.about i {
  font-size: 1.4rem;
  transform: translate(9px, 0px);
  /*left: 63px;
  bottom: 19px;*/
  cursor: pointer;
}
.about clr {
  clear: both;
}

.contactus {
  background-color: #0372b4;
}
.contactus h4 {
  color: #f8aa1b;
}
.contactus p,
a {
  color: #fff;
}
.contactus input {
  width: 30%;
  border-radius: 15px;
  border: 1px solid transparent;
}
.contactus ::placeholder {
  padding: 10px;
  color: #000;
}
.contactus button {
  background-color: transparent;
  border: 1px solid #f8aa1b;
  border-radius: 15px;
  padding: 2px 32px;
  margin-right: 10px;
  color: #fff;
  position: relative;
}
.contactus .icon {
  position: relative;
  left: 6px;
  cursor: pointer;
  color: #fff;
}
.contactus #btnUp {
  position: fixed;
  bottom: 350px;
  left: 50px;
  z-index: 100;
  background-color: #f8aa1b;
  border: 1px solid #000;
  color: #000;
}

footer {
  background-color: #0069a7;
}
footer .paragraph {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
footer .rules {
  font-size: 1rem;
  font-weight: 600;
}
footer a {
  text-decoration: none;
  color: #fff;
  padding-left: 0.5rem;
}

@media (max-width: 1024px) {
  html,
  body {
      font-size: 0.7rem;
  }
  .details .ic1 {
    transform: translate(-60px, -18px);
  }
  .videoo .ic1 {
    transform: translate(279px, -18px);
  }
  .videoo .overlay{
    transform: translate(-68px, 445px);
  }
  
}

@media (max-width: 768px) {
  html,
  body {
      font-size: 1rem;
  }
  .details .ic1 {
    transform: translate(-71px, -25px);
  }
  .videoo .ic1 {
    transform: translate(176px, -24px);
  }
  .videoo .overlay{
    transform: translate(-68px, 325px);
  }
}

@media (max-width: 575px) {
  html,
  body {
      font-size: 1.2rem;
  }
  .details .ic1 {
    transform: translate(-78px, -29px);
  }
  .videoo .ic1 {
    transform: translate(135px, -28px);    
  }
  .videoo .overlay{
    transform: translate(-2px, 333px);
  }
}

